* {
  text-align: center;
  /* font-family: sans-serif; */
  font-family: "Noto Sans SC", sans-serif;

  font-weight: 300;
  width: 100%;
  margin: auto;
}

.question {
  font-size: 4rem;
  margin-top: 20vh;
  font-weight: 100;
  font-family: "Playfair Display", serif;
}

#tanu {
  font-family: "Playfair Display", serif;
}

.answer {
  font-size: 2rem;
  margin-top: 15vh;
}

#clockbox {
  margin: 50px 0;
  font-family: "Noto Sans SC", sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
}

#she-is {
  text-decoration: underline;
  font-style: italic;
}

p {
  font-size: x-small;
  margin-top: 30px;
  margin-bottom: 30px;
}

#emoji {
  font-size: 50px;
}
