* {
    box-sizing: border-box;
    margin: 0;
}

/* ALL LISTS PADDING & BULLETS REMOVED */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hero-image {
    background-image: url('./media/hero-image1.jpg');
    width: 100%;
    background-position: right;
    height: 350px;
    background-size: cover;
    position: relative;
    /* min-height: 90%; */
}

.top-bar {
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-bar li {
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.name {
    float: left;
    margin-left: 2.5em;
    margin-top: 0.5em;
}

.menu {
    float: right;
    margin-right: 2.5em;
    margin-top: 0.5em;
}

.intro {
    position: relative;
    top: 10px;
    text-align: center;
    line-height: 1.4;
}

#intro-title {
    font-family: 'Merriweather sans', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: 400;
}

#intro-text {
    font-family: 'asap', sans-serif;
    font-size: 19px;
    font-weight: 270;
    top: 0px;
}

.emphasis {
    font-weight: 600;
    /* font-style: italic; */
}

.skills {
    position: relative;
    text-align: center;
    top: 100px;
    padding-top: 20px;
    background-color: rgba(144, 192, 224, 0.25);
    height: auto;
    width: 100%;
    padding-bottom: 20px;
}

.skills-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.list-title {
    font-size: 22px;
}

.eng-list li {
    font-size: 18px;
    text-align: left;
}

.skills-text ul {
    display: inline-block;
    padding-left: 15px;
    padding-top: 15px;
}

.skills-text h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#projects {
    position: relative;
    top: 150px;
    text-align: center;
    margin-bottom: 500px;
}

.project-list {
    width: 50%;
    height: 75px;
    box-align: center;
    margin: 25px auto 0 auto;
}

.project-images img{
    display: inline-block;
    width: 50%;
    max-height: 180px;
    object-fit: cover;
}

#contact {
    position: relative;
    top: 50px;
    background-color: rgba(144, 192, 224, 0.25);
    height: 150px;
    text-align: center;
}

.contact-me li {
    display: inline;
    list-style: none;
}

.contact-me {
    margin-top: 25px;
}


#links-outer {
    height: 40px;
    margin-top: 40px;
    position: relative;
    text-align: center;
    height:auto;
    width: 100%;
}

#links-outer img {
    max-height: 40px;
}

#links-outer li{
    display: inline;
    list-style-type: none;
}

.link-list {
    padding: 15px;
}

.resume {
    position: relative;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    font-family: 'roboto mono', monospace;
    font-weight: 450;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.resume a:link, a:visited {
    color: blue;
}

.resume a:hover{
    color: white;
    background-color: black;
    /* text-decoration: none; */
}
